# Exclude logs folder
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.whl
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
*.cover
.ipynb_checkpoints/
.pyenv
.venv
venv/
ENV/
env/
.env

# R
.Rhistory
.RData
.Rproj.user
.Rproj
*.Rproj
.Ruserdata
*.rds
*.RDS
.httr-oauth
*_cache/
/cache
*.utf8.md
*.knit.md
